
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebar" />
        </div>
        <div class="col-sm-9">
            <partial name="Partial/_Post" />

            <partial name="Partial/_Ratings" />

            <partial name="Partial/_Socials" />

            <partial name="Partial/_Comments" />

            <partial name="Partial/_Responses" />

            <partial name="Partial/_Reply" />
        </div>
    </div>
</div>
